@media screen and (max-width:700px) {
    .res{
        background-color: #cc0000   
        

    }
    .res2{
        font-size: 25px;
    }
    
    .center h6{
        display: inline;
        color: black;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        margin: 110px;
    }

    .center h5{
        display: inline;
        color:black;
        font-weight: bold;
        font-size: 30px;
        margin-left: 125px;
    }

    .center .buttons{
       width: 400px;
       margin: 35px 90px 35px 90px;
    }

    .table{
        font-family: "Fira Sans",sans-serif;
        border-collapse: collapse;
        margin: 10px;
        background-color:blanchedalmond;
        border: 2px solid black;
       
       
       }
       
    .tab{
        text-align: center;
        font-size: 10px;
        margin: 10px;
        
    }
    .Wrapper{
        display: flex;
        background:url(doc-mob.jpg) no-repeat;
        background-size: cover;
        
        height: 100vh;
    }
   
}